* {
    font-family: Arial;
    color:white;
    background-color: black;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1.5px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 700px;
   
}

.home-text {
    display:flex;
    flex-direction: column;
    justify-content: left ;
    width: 350px;   
    margin-right: 50px;
}

.title{
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.home-text  p{
    
    font-size: 0.85rem;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: left;
}

.button{
    height: 35px;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.button-white{
    padding: 5px;
    width: 150px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-white:hover{
    background-color: black;
    color: white;
    border: 1px solid white;

}

.button-black{
    padding: 5px;
    width: 150px;
    border: 1px solid white; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.button-black:hover{
    background-color: white;
    color: black;
}
.home-circle{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-circle i{
    color: #CECECE;
    margin: 10px;
}

.home-circle i:hover{
    color: white;
}
.home-img{
    
    background-image: url('images/home_image.png');
    background-size: cover;
    object-fit: contain;
    width: 450px;
    height: 450px;
    transition: 1.5s ease-in;  
}
.home-img:hover{
    width: 480px;
    height: 480px;  
}

.navbar{
    height:120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cube-logo{
    background-image: url("images/cube_logo.png");
    height: 100px;
    width: 100px;
    background-size: cover;
    object-fit: contain;
    margin-left: 50px;
}

.avatar-logo{
    background-image: url("images/avatar_logo.png");
    height: 80px;
    width: 80px;
    background-size: cover;
    object-fit: contain;
    margin-right: 60px;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-avatar{
    background-image: url("images/avatar_logo.png");
    height: 250px;
    width: 250px;
    background-size: cover;
    object-fit: contain;
}

.welcome-text{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    text-align: center;
    width: 460px;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.doc-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
}

.doc-field{
    margin-bottom: 30px;
}

input{
    width: 350px;
    height: 45px;
    border: 1px solid white;
}

.search-field{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-field input{
   
    
}

.search-field i{
    width: 50px;
    height: 45px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
}
.document-pannel{
    display: flex;
    justify-content: center;
    align-items: start;
}
.doc-preview{
    border: 1px solid white;
    height: 400px;
    width: 370px;
    text-align: center;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.doc-preview-img{
        margin-top: 5px;
        background-image: url("images/document_preview.png");
        height: 360px;
        width: 350px;
        background-size: contain;
        background-repeat: no-repeat;
        
}


.doc-info{
    border: 1px solid white;
    height: 400px;
    width: 580px;
    margin-right: 30px;
}

#customers {
    border-collapse: collapse;
    width: 100%;
}
  
#customers td {
    border-bottom: 1px solid white;
    padding: 8px 5px 8px 5px;
    
    
}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
    
}


/* .button-qr{
    padding: 5px;
    width: 100px;
    background-color: white;
    color: black;
    font-size: 0.8rem;
}
.button-qr:hover{
    background-color: black;
    color: white;
    border: 1px solid white;

} */

.button-view{
    text-align: center;
    padding: 5px;
    width: 100px;
    font-size: 0.8rem;
    border: 1px solid white; 
   
}
.button-view:hover{
    background-color: white;
    color: black;
}

.doc-scanner{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    margin-top: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc-qr{
    background-image: url("images/qr_code.jpg");
    height: 110px;
    width: 110px;
    background-size: cover;
}